<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Pizza Bar | {{title}}</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="brand">
                <a href="/"><p>Pizza Bar</p></a>
            </div>

            <nav>
                <ul>
                    <li><a href="/order">Order Online</a></li>
                </ul>
            </nav>
            
        </header>

        <main>
            <div class="banner">
                <img src="image/banner.jpg" alt="pizza with melted cheese">
            </div>

            <div class="intro">
                <h2>
                    You Boss Your Own Pizza
                </h2>
            </div>

            <div class="intro2">
                <div>
                    <img src="image/better.jpg" alt="pepper-olive pizza">
                    <p>Better Ingredients</p>
                </div>

                <div>
                    <img src="image/choice.jpg" alt="pepper-cheese pizza">
                    <p>Plenty of Choices</p>
                </div>
            </div>

            <div class="order-now">
                <a href="./order">Order Now</a>
            </div>

        </main>
    
        <footer>
            <div class="copyright">
                <p>
                    &copy2020 CZ
                </p>
            </div>
        </footer>
    </div>
    
</body>
</html>